In [3]:
import numpy as np
import pandas as pd

In [4]:
x = pd.Series([10, 20, 30, 40, 50])

In [5]:
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
x.values

array([10, 20, 30, 40, 50], dtype=int64)

In [8]:
x.dtype

dtype('int64')

In [9]:
data = [450, 650, 870]
sales = pd.Series(data, index=['Bob', 'Sally', 'Don'])
sales

Bob      450
Sally    650
Don      870
dtype: int64

In [10]:
sales['Bob']

450

In [11]:
sales[0]

450

In [13]:
sales[sales > 500]

Sally    650
Don      870
dtype: int64

In [14]:
'Don' in sales

True

In [15]:
650 in sales.values

True

In [16]:
sales_dict = sales.to_dict()
sales_dict

{'Bob': 450, 'Sally': 650, 'Don': 870}

In [17]:
sales_ser = pd.Series(sales_dict)
sales_ser

Bob      450
Sally    650
Don      870
dtype: int64

In [18]:
new_sales = pd.Series(sales, index=['Don', 'Sally', 'Lucy', 'Mike', 'Bob'])
new_sales

Don      870.0
Sally    650.0
Lucy       NaN
Mike       NaN
Bob      450.0
dtype: float64

In [20]:
np.isnan(new_sales)

Don      False
Sally    False
Lucy      True
Mike      True
Bob      False
dtype: bool

In [21]:
pd.isnull(new_sales)

Don      False
Sally    False
Lucy      True
Mike      True
Bob      False
dtype: bool

In [23]:
new_sales.index.name = 'Sales Person'
new_sales

Sales Person
Don      870.0
Sally    650.0
Lucy       NaN
Mike       NaN
Bob      450.0
dtype: float64

In [24]:
new_sales.name = 'Total Sales'
new_sales

Sales Person
Don      870.0
Sally    650.0
Lucy       NaN
Mike       NaN
Bob      450.0
Name: Total Sales, dtype: float64

In [25]:
data = [['Don', 870], ['Sally', 678], ['Bob', 475]]
df = pd.DataFrame(data, columns=['Name', 'Sales'])
df

    Name  Sales
0    Don    870
1  Sally    678
2    Bob    475

In [26]:
df_dict = pd.DataFrame(sales_dict, index=['1'])
df_dict

   Bob  Sally  Don
1  450    650  870

In [27]:
dict_list = [{'Name':'Tom','Sales':250},{'Name':'Jane','Sales':300},{'Name':'Steve','Sales':350}
            ,{'Name':'Lucy','Sales':400}]

df_dict_list = pd.DataFrame(dict_list)
df_dict_list

    Name  Sales
0    Tom    250
1   Jane    300
2  Steve    350
3   Lucy    400

In [28]:
east = pd.Series([1000,1200,3400],index=['Q1','Q2','Q3'])
west = pd.Series([1100,1300,2400,3500],index=['Q1','Q2','Q3','Q4'])

In [29]:
df_region = pd.DataFrame({'East':east, 'West':west})
df_region

      East  West
Q1  1000.0  1100
Q2  1200.0  1300
Q3  3400.0  2400
Q4     NaN  3500

In [30]:
years = ['2015', '2016', '2017', '2018']
df_region['years'] = years
df_region

      East  West years
Q1  1000.0  1100  2015
Q2  1200.0  1300  2016
Q3  3400.0  2400  2017
Q4     NaN  3500  2018

In [31]:
df_region = df_region.set_index('years')

In [32]:
df_region

         East  West
years
2015   1000.0  1100
2016   1200.0  1300
2017   3400.0  2400
2018      NaN  3500

In [33]:
new_df = df_region.reindex(['2014', '2015', '2016', '2017', '2018', '2019'])
new_df

         East    West
years
2014      NaN     NaN
2015   1000.0  1100.0
2016   1200.0  1300.0
2017   3400.0  2400.0
2018      NaN  3500.0
2019      NaN     NaN

In [34]:
new_df = new_df.reindex(columns=['East', 'South', 'West', 'North'])
new_df

         East  South    West  North
years
2014      NaN    NaN     NaN    NaN
2015   1000.0    NaN  1100.0    NaN
2016   1200.0    NaN  1300.0    NaN
2017   3400.0    NaN  2400.0    NaN
2018      NaN    NaN  3500.0    NaN
2019      NaN    NaN     NaN    NaN

In [35]:
new_df.fillna(0)

         East  South    West  North
years
2014      0.0    0.0     0.0    0.0
2015   1000.0    0.0  1100.0    0.0
2016   1200.0    0.0  1300.0    0.0
2017   3400.0    0.0  2400.0    0.0
2018      0.0    0.0  3500.0    0.0
2019      0.0    0.0     0.0    0.0

In [36]:
new_df.fillna(method='ffill')

         East  South    West  North
years
2014      NaN    NaN     NaN    NaN
2015   1000.0    NaN  1100.0    NaN
2016   1200.0    NaN  1300.0    NaN
2017   3400.0    NaN  2400.0    NaN
2018   3400.0    NaN  3500.0    NaN
2019   3400.0    NaN  3500.0    NaN

In [37]:
new_df.interpolate()

         East  South    West  North
years
2014      NaN    NaN     NaN    NaN
2015   1000.0    NaN  1100.0    NaN
2016   1200.0    NaN  1300.0    NaN
2017   3400.0    NaN  2400.0    NaN
2018   3400.0    NaN  3500.0    NaN
2019   3400.0    NaN  3500.0    NaN

In [38]:
new_df.dropna(axis=1, how='all')

         East    West
years
2014      NaN     NaN
2015   1000.0  1100.0
2016   1200.0  1300.0
2017   3400.0  2400.0
2018      NaN  3500.0
2019      NaN     NaN

In [39]:
new_df.dropna(thresh=1)

         East  South    West  North
years
2015   1000.0    NaN  1100.0    NaN
2016   1200.0    NaN  1300.0    NaN
2017   3400.0    NaN  2400.0    NaN
2018      NaN    NaN  3500.0    NaN

In [40]:
new_df['East']

years
2014       NaN
2015    1000.0
2016    1200.0
2017    3400.0
2018       NaN
2019       NaN
Name: East, dtype: float64

In [41]:
new_df.iloc[2]

East     1200.0
South       NaN
West     1300.0
North       NaN
Name: 2016, dtype: float64

In [42]:
new_df.loc['2016']

East     1200.0
South       NaN
West     1300.0
North       NaN
Name: 2016, dtype: float64

In [43]:
new_df

         East  South    West  North
years
2014      NaN    NaN     NaN    NaN
2015   1000.0    NaN  1100.0    NaN
2016   1200.0    NaN  1300.0    NaN
2017   3400.0    NaN  2400.0    NaN
2018      NaN    NaN  3500.0    NaN
2019      NaN    NaN     NaN    NaN

In [46]:
new_df.sort_index(ascending=False)

         East  South    West  North
years
2019      NaN    NaN     NaN    NaN
2018      NaN    NaN  3500.0    NaN
2017   3400.0    NaN  2400.0    NaN
2016   1200.0    NaN  1300.0    NaN
2015   1000.0    NaN  1100.0    NaN
2014      NaN    NaN     NaN    NaN

In [49]:
new_df.sort_values(by=['East'])

         East  South    West  North
years
2015   1000.0    NaN  1100.0    NaN
2016   1200.0    NaN  1300.0    NaN
2017   3400.0    NaN  2400.0    NaN
2014      NaN    NaN     NaN    NaN
2018      NaN    NaN  3500.0    NaN
2019      NaN    NaN     NaN    NaN

In [57]:
data = pd.read_csv(r'C:\Users\eddie\Documents\iris.csv')
df = pd.DataFrame(data)
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [65]:
df_species = df.groupby(['species']).mean()
df_species

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [70]:
data_top = data.head()
data_top

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [71]:
data_describe = data.describe()
data_describe

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [76]:
df['rank'] = df['petal_length'].rank()
df.sort_values('rank')

     sepal_length  sepal_width  petal_length  petal_width    species   rank
22            4.6          3.6           1.0          0.2     setosa    1.0
13            4.3          3.0           1.1          0.1     setosa    2.0
14            5.8          4.0           1.2          0.2     setosa    3.5
35            5.0          3.2           1.2          0.2     setosa    3.5
36            5.5          3.5           1.3          0.2     setosa    8.0
..            ...          ...           ...          ...        ...    ...
131           7.9          3.8           6.4          2.0  virginica  146.0
105           7.6          3.0           6.6          2.1  virginica  147.0
117           7.7          3.8           6.7          2.2  virginica  148.5
122           7.7          2.8           6.7          2.0  virginica  148.5
118           7.7          2.6           6.9          2.3  virginica  150.0

[150 rows x 6 columns]

In [77]:
df

     sepal_length  sepal_width  petal_length  petal_width    species   rank
0             5.1          3.5           1.4          0.2     setosa   17.5
1             4.9          3.0           1.4          0.2     setosa   17.5
2             4.7          3.2           1.3          0.2     setosa    8.0
3             4.6          3.1           1.5          0.2     setosa   30.5
4             5.0          3.6           1.4          0.2     setosa   17.5
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica  117.5
146           6.3          2.5           5.0          1.9  virginica  106.5
147           6.5          3.0           5.2          2.0  virginica  117.5
148           6.2          3.4           5.4          2.3  virginica  121.5
149           5.9          3.0           5.1          1.8  virginica  112.5

[150 rows x 6 columns]

In [116]:
setosa_df = df[df['species'] == 'setosa'].reset_index()
setosa_df = setosa_df.drop(columns=['index'])
setosa_df

    sepal_length  sepal_width  petal_length  petal_width species  rank
0            5.1          3.5           1.4          0.2  setosa  17.5
1            4.9          3.0           1.4          0.2  setosa  17.5
2            4.7          3.2           1.3          0.2  setosa   8.0
3            4.6          3.1           1.5          0.2  setosa  30.5
4            5.0          3.6           1.4          0.2  setosa  17.5
5            5.4          3.9           1.7          0.4  setosa  46.5
6            4.6          3.4           1.4          0.3  setosa  17.5
7            5.0          3.4           1.5          0.2  setosa  30.5
8            4.4          2.9           1.4          0.2  setosa  17.5
9            4.9          3.1           1.5          0.1  setosa  30.5
10           5.4          3.7           1.5          0.2  setosa  30.5
11           4.8          3.4           1.6          0.2  setosa  41.0
12           4.8          3.0           1.4          0.1  setosa  17.5
13           4.3          3.0           1.1          0.1  setosa   2.0
14           5.8          4.0           1.2          0.2  setosa   3.5
15           5.7          4.4           1.5          0.4  setosa  30.5
16           5.4          3.9           1.3          0.4  setosa   8.0
17           5.1          3.5           1.4          0.3  setosa  17.5
18           5.7          3.8           1.7          0.3  setosa  46.5
19           5.1          3.8           1.5          0.3  setosa  30.5
20           5.4          3.4           1.7          0.2  setosa  46.5
21           5.1          3.7           1.5          0.4  setosa  30.5
22           4.6          3.6           1.0          0.2  setosa   1.0
23           5.1          3.3           1.7          0.5  setosa  46.5
24           4.8          3.4           1.9          0.2  setosa  49.5
25           5.0          3.0           1.6          0.2  setosa  41.0
26           5.0          3.4           1.6          0.4  setosa  41.0
27           5.2          3.5           1.5          0.2  setosa  30.5
28           5.2          3.4           1.4          0.2  setosa  17.5
29           4.7          3.2           1.6          0.2  setosa  41.0
30           4.8          3.1           1.6          0.2  setosa  41.0
31           5.4          3.4           1.5          0.4  setosa  30.5
32           5.2          4.1           1.5          0.1  setosa  30.5
33           5.5          4.2           1.4          0.2  setosa  17.5
34           4.9          3.1           1.5          0.1  setosa  30.5
35           5.0          3.2           1.2          0.2  setosa   3.5
36           5.5          3.5           1.3          0.2  setosa   8.0
37           4.9          3.1           1.5          0.1  setosa  30.5
38           4.4          3.0           1.3          0.2  setosa   8.0
39           5.1          3.4           1.5          0.2  setosa  30.5
40           5.0          3.5           1.3          0.3  setosa   8.0
41           4.5          2.3           1.3          0.3  setosa   8.0
42           4.4          3.2           1.3          0.2  setosa   8.0
43           5.0          3.5           1.6          0.6  setosa  41.0
44           5.1          3.8           1.9          0.4  setosa  49.5
45           4.8          3.0           1.4          0.3  setosa  17.5
46           5.1          3.8           1.6          0.2  setosa  41.0
47           4.6          3.2           1.4          0.2  setosa  17.5
48           5.3          3.7           1.5          0.2  setosa  30.5
49           5.0          3.3           1.4          0.2  setosa  17.5

In [107]:
versicolor_df = df[df['species'] == 'versicolor'].reset_index()
versicolor_df = versicolor_df.drop(columns=['index'])
versicolor_df

    sepal_length  sepal_width  petal_length  petal_width
0            7.0          3.2           4.7          1.4
1            6.4          3.2           4.5          1.5
2            6.9          3.1           4.9          1.5
3            5.5          2.3           4.0          1.3
4            6.5          2.8           4.6          1.5
5            5.7          2.8           4.5          1.3
6            6.3          3.3           4.7          1.6
7            4.9          2.4           3.3          1.0
8            6.6          2.9           4.6          1.3
9            5.2          2.7           3.9          1.4
10           5.0          2.0           3.5          1.0
11           5.9          3.0           4.2          1.5
12           6.0          2.2           4.0          1.0
13           6.1          2.9           4.7          1.4
14           5.6          2.9           3.6          1.3
15           6.7          3.1           4.4          1.4
16           5.6          3.0           4.5          1.5
17           5.8          2.7           4.1          1.0
18           6.2          2.2           4.5          1.5
19           5.6          2.5           3.9          1.1
20           5.9          3.2           4.8          1.8
21           6.1          2.8           4.0          1.3
22           6.3          2.5           4.9          1.5
23           6.1          2.8           4.7          1.2
24           6.4          2.9           4.3          1.3
25           6.6          3.0           4.4          1.4
26           6.8          2.8           4.8          1.4
27           6.7          3.0           5.0          1.7
28           6.0          2.9           4.5          1.5
29           5.7          2.6           3.5          1.0
30           5.5          2.4           3.8          1.1
31           5.5          2.4           3.7          1.0
32           5.8          2.7           3.9          1.2
33           6.0          2.7           5.1          1.6
34           5.4          3.0           4.5          1.5
35           6.0          3.4           4.5          1.6
36           6.7          3.1           4.7          1.5
37           6.3          2.3           4.4          1.3
38           5.6          3.0           4.1          1.3
39           5.5          2.5           4.0          1.3
40           5.5          2.6           4.4          1.2
41           6.1          3.0           4.6          1.4
42           5.8          2.6           4.0          1.2
43           5.0          2.3           3.3          1.0
44           5.6          2.7           4.2          1.3
45           5.7          3.0           4.2          1.2
46           5.7          2.9           4.2          1.3
47           6.2          2.9           4.3          1.3
48           5.1          2.5           3.0          1.1
49           5.7          2.8           4.1          1.3

In [110]:
virginica_df = df[df['species'] == 'virginica'].reset_index()
virginica_df = virginica_df.drop(columns=['index'])
virginica_df

    sepal_length  sepal_width  petal_length  petal_width    species   rank
0            6.3          3.3           6.0          2.5  virginica  140.5
1            5.8          2.7           5.1          1.9  virginica  112.5
2            7.1          3.0           5.9          2.1  virginica  138.5
3            6.3          2.9           5.6          1.8  virginica  128.5
4            6.5          3.0           5.8          2.2  virginica  136.0
5            7.6          3.0           6.6          2.1  virginica  147.0
6            4.9          2.5           4.5          1.7  virginica   83.5
7            7.3          2.9           6.3          1.8  virginica  145.0
8            6.7          2.5           5.8          1.8  virginica  136.0
9            7.2          3.6           6.1          2.5  virginica  143.0
10           6.5          3.2           5.1          2.0  virginica  112.5
11           6.4          2.7           5.3          1.9  virginica  119.5
12           6.8          3.0           5.5          2.1  virginica  124.0
13           5.7          2.5           5.0          2.0  virginica  106.5
14           5.8          2.8           5.1          2.4  virginica  112.5
15           6.4          3.2           5.3          2.3  virginica  119.5
16           6.5          3.0           5.5          1.8  virginica  124.0
17           7.7          3.8           6.7          2.2  virginica  148.5
18           7.7          2.6           6.9          2.3  virginica  150.0
19           6.0          2.2           5.0          1.5  virginica  106.5
20           6.9          3.2           5.7          2.3  virginica  133.0
21           5.6          2.8           4.9          2.0  virginica  102.0
22           7.7          2.8           6.7          2.0  virginica  148.5
23           6.3          2.7           4.9          1.8  virginica  102.0
24           6.7          3.3           5.7          2.1  virginica  133.0
25           7.2          3.2           6.0          1.8  virginica  140.5
26           6.2          2.8           4.8          1.8  virginica   97.5
27           6.1          3.0           4.9          1.8  virginica  102.0
28           6.4          2.8           5.6          2.1  virginica  128.5
29           7.2          3.0           5.8          1.6  virginica  136.0
30           7.4          2.8           6.1          1.9  virginica  143.0
31           7.9          3.8           6.4          2.0  virginica  146.0
32           6.4          2.8           5.6          2.2  virginica  128.5
33           6.3          2.8           5.1          1.5  virginica  112.5
34           6.1          2.6           5.6          1.4  virginica  128.5
35           7.7          3.0           6.1          2.3  virginica  143.0
36           6.3          3.4           5.6          2.4  virginica  128.5
37           6.4          3.1           5.5          1.8  virginica  124.0
38           6.0          3.0           4.8          1.8  virginica   97.5
39           6.9          3.1           5.4          2.1  virginica  121.5
40           6.7          3.1           5.6          2.4  virginica  128.5
41           6.9          3.1           5.1          2.3  virginica  112.5
42           5.8          2.7           5.1          1.9  virginica  112.5
43           6.8          3.2           5.9          2.3  virginica  138.5
44           6.7          3.3           5.7          2.5  virginica  133.0
45           6.7          3.0           5.2          2.3  virginica  117.5
46           6.3          2.5           5.0          1.9  virginica  106.5
47           6.5          3.0           5.2          2.0  virginica  117.5
48           6.2          3.4           5.4          2.3  virginica  121.5
49           5.9          3.0           5.1          1.8  virginica  112.5

In [112]:
sepal_df = df.drop(columns=['petal_length', 'petal_width'])
petal_df = df.drop(columns=['sepal_length', 'sepal_width'])

In [118]:
concat_df = [setosa_df, versicolor_df, virginica_df]
whole_df = pd.concat(concat_df, axis=0, ignore_index=True, sort=False)
whole_df

     sepal_length  sepal_width  petal_length  petal_width    species   rank
0             5.1          3.5           1.4          0.2     setosa   17.5
1             4.9          3.0           1.4          0.2     setosa   17.5
2             4.7          3.2           1.3          0.2     setosa    8.0
3             4.6          3.1           1.5          0.2     setosa   30.5
4             5.0          3.6           1.4          0.2     setosa   17.5
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica  117.5
146           6.3          2.5           5.0          1.9  virginica  106.5
147           6.5          3.0           5.2          2.0  virginica  117.5
148           6.2          3.4           5.4          2.3  virginica  121.5
149           5.9          3.0           5.1          1.8  virginica  112.5

[150 rows x 6 columns]

In [119]:
sepal_df

     sepal_length  sepal_width    species   rank
0             5.1          3.5     setosa   17.5
1             4.9          3.0     setosa   17.5
2             4.7          3.2     setosa    8.0
3             4.6          3.1     setosa   30.5
4             5.0          3.6     setosa   17.5
..            ...          ...        ...    ...
145           6.7          3.0  virginica  117.5
146           6.3          2.5  virginica  106.5
147           6.5          3.0  virginica  117.5
148           6.2          3.4  virginica  121.5
149           5.9          3.0  virginica  112.5

[150 rows x 4 columns]

In [123]:
merged_df = pd.merge(sepal_df, petal_df, left_index=True, right_index=True)
merged_df = merged_df.drop(columns=['species_x', 'rank_x', 'species_y'])
merged_df

     sepal_length  sepal_width  petal_length  petal_width  rank_y
0             5.1          3.5           1.4          0.2    17.5
1             4.9          3.0           1.4          0.2    17.5
2             4.7          3.2           1.3          0.2     8.0
3             4.6          3.1           1.5          0.2    30.5
4             5.0          3.6           1.4          0.2    17.5
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3   117.5
146           6.3          2.5           5.0          1.9   106.5
147           6.5          3.0           5.2          2.0   117.5
148           6.2          3.4           5.4          2.3   121.5
149           5.9          3.0           5.1          1.8   112.5

[150 rows x 5 columns]